<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shunix.postman">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
    >
        <service android:name=".service.PostmanService"
                 android:process=":daemon"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                 android:label="@string/service_name">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity android:name=".activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
